header {
  position: absolute;
  top: 0;
  padding: 1rem 1rem;
  gap: 20px;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
  display: flex;
  flex-flow: wrap;
  gap: 10px;
}

.menu {
  display: flex;
  flex-flow: wrap;
  gap: 10px;
  list-style-type: none;
  color: white;
  font-size: 10rem;
}

a {
  font-family: "Quicksand", sans-serif;
  text-decoration: none;
  font-size: 1rem;
  color: #f8ec82;
}
